@import url('./css/_normalize.css');
@import url('./css/_base.css');
@import url('./css/_media.css');


body{
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background: #EEDEBA;
}
img{
    max-width: 100%;
    height: auto;
    position: absolute;
}
a{
    text-decoration: none;
}
/* 1 секция*/
header{
    background: #6B9361;
    padding-top: 10px;
}
.container{
    margin-top: -16px;
    padding-bottom: 10px;
}
header h2{
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin-left: 165px;
    text-shadow: 1px 1px 5px black;
}
/*2 секция*/
main{
    position: relative;
    padding-top: 1px;
    padding-bottom: 150px;
    background: #EEDEBA;
}
main img{
    top: 200px;
    right: 620px;
}
main span h2{
    transform: translate(165px,15px);
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 1px 1px 5px black;
}
.h2{
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-465px,-47px);
}
main h3{
    margin-left: 179px;
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.calendar {
    height: 500px;
    background: #EEDEBA;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px gray;
    padding: 20px; 
    width: 500px;
    margin: 0px 0px 0px 165px;
}
.calendar button{
    width: 50px;
    background: #EEDEBA;
    border: 0;
    cursor: pointer;
}
.btn1{
    transform: translate(80px,-5px);
}
.btn2{
    transform: translate(-80px,-5px);
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header h2 {
    margin: 25px 0px 40px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 14.28%; /* 100% / 7 days */
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(177, 137, 137);
    font-size: 17px;
}

th {
    background: white;
}

td {
    height: 50px; /* Height for each day cell */
    vertical-align: top;
}
td:hover {
    background: #f0f0f0;
    cursor: pointer;
}
/* 3 секция */
.container1{
    margin-top: -10px;
    margin-left: 290px;
    width: 500px;
    height: 522px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 1px 1px 10px 5px gray;
    border-radius: 10px;
}
.container1::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
.container1::-webkit-scrollbar-thumb{
    background: #6B9361;
    border-radius: 10px;
}
.container1 ul li{
    list-style: none;
    margin: 20px 0px;
}
.container--header{
    display: flex;
    transform: translateX(100px);
    column-gap: 60px;
    height: 50px;
}
.container--header1{
    display: flex;
    transform: translateX(80px);
    column-gap: 20px;
    height: 50px;
}
.container--header1 data{
    transform: translate(-1px,24px);
    font-size: 19px;
    font-weight: 700;
}
.container--header1 button{
    background: #EEDEBA;
    height: 25px;
    transform: translateY(21px);
    cursor: pointer;
    border: 0px;
}
.container--header button{
    background: #EEDEBA;
    height: 25px;
    transform: translateY(21px);
    cursor: pointer;
    border: 0px;
}
.t{
    height: 50px;
    width: 400px;
    border: 3px solid black;
    border-radius: 10px;
}
.check{
    transform: translate(10px,10px);
    position: relative;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 25px;
}
.check::after{
    content: url('./images/круг.png');
    position: absolute;
    width: 0px;
    height: 0px;
    top: -5px;
    left: -5px;
    overflow: hidden;
}
.check:checked::after{
    width: 30px;
    height: 30px;
}
/* 4 секция */
footer{
    background: #6B9361;
    padding-top: 1px;
    padding-bottom: 60px;
    color: white;
}
footer h4{
    transform: translateX(170px);
    font-size: 30px;
    font-weight: 800;
}
footer span p{
    transform: translateX(170px);
    font-size: 25px;
    font-weight: 800;
}
.ft{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 200px;
}
.container3{
    position: relative;
    text-align: center;
    width: 200px;
    height: 150px;
}
.container3 p{
    font-size: 20px;
    font-weight: 700;
}
.container3 ul{
    display: flex;
    justify-content: space-evenly;
    margin-left: -200px;
}
.container3 ul li{
    list-style: none;
}
.container3 ul li img{
    margin: 0px 50px;
}
