@import url('./css/_normalize.css');
@import url('./css/_base.css');
@import url('./css/_media.css');


body{
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background: #EEDEBA;
}
img{
    max-width: 100%;
    height: auto;
    position: absolute;
}
a{
    text-decoration: none;
}
/* 1 секция*/
header{
    background: #6B9361;
    padding-top: 10px;
}
.container{
    margin-top: -16px;
    padding-bottom: 10px;
}
header h2{
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin-left: 165px;
    text-shadow: 1px 1px 5px black;
}
/*2 секция*/
main{
    z-index: 1;
    position: relative;
    padding-top: 1px;
    padding-bottom: 150px;
    background: #EEDEBA;
}
main img{
    z-index: -1;
    top: 200px;
    right: 620px;
}
main span h2{
    transform: translate(165px,15px);
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 1px 1px 5px black;
}
.h2{
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-465px,-47px);
}
main h3{
    margin-left: 179px;
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.calendar {
    height: 500px;
    background: #EEDEBA;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px gray;
    padding: 20px; 
    width: 500px;
    margin: 0px 0px 0px 165px;
}
.calendar button{
    width: 50px;
    background: #EEDEBA;
    border: 0;
    cursor: pointer;
}
.btn1{
    transform: translate(80px,-5px);
}
.btn2{
    transform: translate(-80px,-5px);
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header h2 {
    margin: 25px 0px 40px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 14.28%; /* 100% / 7 days */
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(177, 137, 137);
    font-size: 17px;
}

th {
    background: white;
}

td {
    height: 50px; /* Height for each day cell */
    vertical-align: top;
}
td:hover {
    background: #f0f0f0;
    cursor: pointer;
}
/* 3 секция */
.container1{
    margin-top: -10px;
    margin-left: 290px;
    width: 500px;
    height: 522px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 1px 1px 10px 5px gray;
    border-radius: 10px;
    overflow-wrap: break-word;
}
.container1::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
.container1::-webkit-scrollbar-thumb{
    background: #6B9361;
    border-radius: 10px;
}
.container1 h2{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    margin-top: 100px;
    line-height: 250%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.ul{
    margin: 50px 0px 50px 0px;
}
.btn3{
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    background: #6B9361;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;
    margin-left: 30px;
}
.btn3:hover{
    transform: scale(1.1);
    transition: ease 500ms;
}
.li{
    list-style: none;
    width: 70%;
    height: auto;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 1px;
}
.li button{
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100px;
    background: #6B9361;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px;
    margin: -30px 0px 30px 350px;
}
li button:hover{
    transform: scale(1.1);
    transition: ease 500ms;
}
.p{
    font-size: 20px;
    margin: 30px 0px 30px 20px;
}

/* 4 секция */
footer{
    background: #6B9361;
    padding-top: 1px;
    padding-bottom: 60px;
    color: white;
}
footer h4{
    transform: translateX(170px);
    font-size: 30px;
    font-weight: 800;
}
footer span p{
    transform: translateX(170px);
    font-size: 25px;
    font-weight: 800;
}
.ft{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 200px;
}
.container3{
    position: relative;
    text-align: center;
    width: 200px;
    height: 150px;
}
.container3 p{
    font-size: 20px;
    font-weight: 700;
}
.container3 ul{
    display: flex;
    justify-content: space-evenly;
    margin-left: -200px;
}
.container3 ul li{
    list-style: none;
}
.container3 ul li img{
    margin: 0px 50px;
}


/* Стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку, если необходимо */
    background-color: rgb(0,0,0); /* Черный фон с прозрачностью */
    background-color: rgba(0,0,0,0.4); /* Черный фон с прозрачностью */
}

.modal-content {
    height: 200px;
    background-color: #6B9361;
    margin: 15% auto; /* 15% сверху и центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Ширина */
    border-radius: 20px;
}
.modal-content h2{
    display: block;
    width: 50%;
    color: white;
    margin-left: 200px;
    text-shadow: 1px 1px 5px black;
    font-size: 25px;
}
.modal-content input{
    margin-left: 150px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 250px;
}
.modal-content input:focus{
    outline: none;
}
.modal-content button{
    cursor: pointer;
    margin-left: 30px;
    padding: 15px;
    border-radius: 10px;
    background: #ECD4B3;
    color: #000000;
    border: none;
}
.modal-content button:hover{
    transform: scale(1.1);
    transition: ease 500ms;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
